{{define "base"}}

{{template "head" .}}

{{template "sidebar" .}}



<div class="p-4 sm:ml-64 dark:text-white">
	<div class="md:container md:mx-auto ">
		<div
			class="lg:w-10/12 mx-auto mb-10 tracking-wide bg-gray-100 rounded p-10 py-16 dark:bg-gray-800">
            <header class="text-center mb-8">
                <h1 class="text-3xl font-bold mb-10 dark:text-white">Site News</h1>
                <p class="dark:text-white mb-4">Make general announcements on main page.</p>
                <button class="dark:bg-slate-800 border-2 dark:border-slate-400 hover:bg-slate-300 bg-gray-50 dark:hover:bg-slate-700 text-slate-700 dark:text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline">Create New Post</button>

            </header>
			


				<article class=" bg-gray-50  dark:bg-gray-800 border-2 border-gray-200 dark:border-gray-600 bo rounded-lg p-4 mb-6">
					
                    <header class="mb-2">
                        <h3 class="block text-gray-700  font-bold mb-2 text-xl dark:text-white">News Title</h3>
                        <p class="italic">20.04.2023 by <span class="text-purple-500 dark:text-purple-300">Admin</span> - 0 comments - comments enabled</p>
                    </header>
					<section class="mb-3">
                        <p>
                                                Excerpt of the the longer article. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem sed totam ut libero sequi pariatur, fugit maiores maxime nobis in, dignissimos ipsam distinctio soluta voluptate, ea consequatur placeat odio illo.
                        </p>
                    </section>

                    <button class="dark:bg-slate-800 border-2 dark:border-slate-400 hover:bg-slate-300 dark:hover:bg-slate-700 text-slate-700 dark:text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline">Manage post</button>

				</article>




				<article class=" bg-gray-50  dark:bg-gray-800 border-2 border-gray-200 dark:border-gray-600 bo rounded-lg p-4">
					
                    <header class="mb-2">
                        <h3 class="block text-gray-700  font-bold mb-2 text-xl dark:text-white">News Title</h3>
                        <p class="italic">20.04.2023 by <span class="text-purple-500 dark:text-purple-300">Admin</span> - 0 comments - comments enabled</p>
                    </header>
					<section class="mb-3">
                        <p>
                                                Excerpt of the the longer article. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem sed totam ut libero sequi pariatur, fugit maiores maxime nobis in, dignissimos ipsam distinctio soluta voluptate, ea consequatur placeat odio illo.
                        </p>
                    </section>

                    <button class="dark:bg-slate-800 border-2 dark:border-slate-400 hover:bg-slate-300 dark:hover:bg-slate-700 text-slate-700 dark:text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline">Manage post</button>

				</article>




		</div>



		

	</div>

</div>

{{template "footer" .}}
{{end}}