{{define "base"}}
{{template "head" .}}



{{template "sidebar" .}}

<div class="b-example-divider"></div>




<div class="container overflow-scroll overview">
    {{template "commandbar"}}

    {{if .Error}}

    <h2>{{.ErrorText}}</h2>

    {{else}}

    <div class="row mb-5">
        <div class="col-md-10">
            <h2>{{.Group.GroupName}}</h2>
            {{if .Group.GroupTagline}}
            <span>{{.Group.GroupTagline}}</span>
            {{end}}
        </div>
        <div class="col-md-2">
            Browsing as: ({{.UserRole}})
        </div>
    </div>




    <article class="mb-3 border-start border-3 px-3 py-4 border-warning bg-light-subtle">
        <div class="row">
            <div class="col-md-1 text-center border-end border-1">
                <img class="img-fluid mb-1" src="{{.Post.User.Cover }}" alt="{{.Post.User.Username}}">
                <p><a href="/profile/{{.Post.User.UserID}}">{{.Post.User.Username}}</a></p>
            </div>

            <div class="col-md-11">
                <header>
                    <h4 class="mb-1">{{if .Post.Sticky}}<span class="badge rounded-pill text-bg-info mx-2">📌
                            Sticky</span>{{end}}{{.Post.Title}}</h4>
                    <p>Posted: {{.Post.Date}}</p>
                </header>
                <section>
                        <p>{{.Post.Content}}</p>
                </section>
            </div>

        </div>

    </article>

    {{if .Post.Replies}}

    {{range .Post.Replies}}
    <div class="px-5">
        <article class="mb-3 border-start border-3 px-3 py-3 border-warning bg-dark-subtle">

            <div class="row">
                <div class="col-md-1 text-center border-end border-1">
                    <img class="img-fluid mb-1" src="{{.User.Cover }}" alt="{{.User.Username}}">
                    <p><a href="/profile/{{.User.UserID}}">{{.User.Username}}</a></p>
                </div>
    
                <div class="col-md-11">
                    <header>
                        <p>Posted: {{.Date}}</p>
                    </header>
                    <section>
                            <p>{{.Content}}</p>
                    </section>
                </div>
    
            </div>


        </article>
    </div>


    {{end}}

    {{else}}
    <p>No replies yet.</p>
    {{end}}

    <div class="mb-5 px-5">
        <h3 class="mb-3">Reply to post:</h3>
        <div class="row">
            <div class="col-md-1">
                <img src="{{.UserData.Cover}}" alt="" class="rounded-circle me-2 img-fluid">
            </div>
            <div class="col-md-11">
            
                        <form action="" method="post">
                            <input class="visually-hidden" type="text" id="postID" value="{{ .Post.PostID }}">
                            <textarea class="form-control" placeholder="Type your reply here..." id="floatingTextarea"></textarea>
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </form>
            </div>
        </div>
    </div>





    {{end}} {{/* end of error check block */}}

</div>

<div class="b-example-divider"></div>

{{template "end"}}
{{end}}