{{define "base"}}
	{{template "head" .}}



		{{template "sidebar" .}}
		
		<div class="b-example-divider"></div>




		<div class="container overflow-scroll overview">
			{{template "commandbar"}}

			<div class="row">
                <div class="col-md-12">
                    <h2>Public Groups</h2>
						<div class="list-group list-group-flush  scrollarea">
							{{range .Groups}}
								{{template "group-list-item" .}}
							{{end}}
						</div>
                </div>
			</div>
			
		</div>
		
		<div class="b-example-divider"></div>

		{{template "end"}}
{{end}}