{{define "base"}}

{{template "head"}}



		{{template "sidebar" .}}
		
		<div class="b-example-divider"></div>




		<div class="container overflow-scroll overview friends">


			{{template "commandbar"}}
		

			
				<h2>Friends</h2>
				<hr>





            <div class="row">

                {{if .FriendList}}
           
                {{range .FriendList}}
                <div class="col-md-3">
                    <div class="user-card card text-center" >
                        <img src="{{.Banner}}" class="card-img-top glow" alt="...">
    
                        <div class="card-body">
                            <img src="{{.Cover}}" alt="" width="96" height="96" class="rounded-circle user-pic glow">
                          <h5 class="card-title username">{{.Username}}</h5>
    
                          <p class="card-text">{{.Tagline}}</p>
                          <section class="text-start userinfo">
                            {{if .UserBadges}}
                            <div>
                                <strong>Badges:</strong>
                                {{range .UserBadges}}
                                 <span class="badge" style="background-color: {{.Color}};">{{.BadgeTitle}}</span> 
                                 {{end}}
                            </div>
                            {{end}}
                            <div><strong>Joined:</strong> {{.Joined}}</div>
                          </section>
                          <div class="row">
                            <div class="col-md-6">
                              <a href="/profile/{{.UserID}}" class="btn btn-primary">View Profile</a>
                            </div>
                            <div class="col-md-6">
                              <a href="/profile/{{.UserID}}" class="btn btn-primary">Send Message</a>
                            </div>
                            
                            
                          </div>
                         

                        </div>
                      </div>
                </div>
                {{end}}
        
            {{else}}
            list empty
            {{end}}
   




            </div>

 
			
		</div>
		
		<div class="b-example-divider"></div>

		{{template "end"}}

{{end}}