{{define "base"}}
	{{template "head"}}



		{{template "sidebar" .}}
		
		<div class="b-example-divider"></div>




		<div class="container overflow-scroll overview">


			{{template "commandbar"}}
		

			<div >
	


				{{if .NewsList}}
				<h2>News & Announcements</h2>
				<hr>
				<div class="list-group list-group-flush  scrollarea">
				{{range .NewsList}}
	
					{{template "newslist-item" .}}
	
	
				
				{{end}}
				</div>
	
				{{end}}

			</div>

			<div class="d-flex flex-column align-items-stretch flex-shrink-0  my-torrents mb-4">
				<h2>My Torrents</h2>
				<hr>

				<div class="list-group list-group-flush  scrollarea">


				  <a href="/torrent" class="list-group-item list-group-item-action py-3 lh-tight">
					<div class="d-flex w-100 align-items-center justify-content-between torrent">
						<span>
							<h3><strong class="mb-1">Linux Mint 14</strong></h3>
							<span class="badge text-bg-tag">Linux</span>
							<span class="badge text-bg-tag">Bootable media</span>
							<span class="badge text-bg-success">Shared on Scene</span>
						</span>
					  <small class="text-muted">Uploaded 23.04.2024</small>
					</div>
					<div class="col-10 mb-1 small torrent-stats">Size: 2432MB Seed:3 Leech:1</div>
				  </a>


				  <a href="/torrent" class="list-group-item list-group-item-action py-3 lh-tight">
					<div class="d-flex w-100 align-items-center justify-content-between torrent">
						<span>
							<h3><strong class="mb-1">Half Lyfe 3 [Leak][HD][FastDL].exe</strong></h3>
							<span class="badge text-bg-success">Shared on Scene</span>
							<span class="badge text-bg-danger">Reported: Trash</span>
						   </span>
						</span>
					  <small class="text-muted">Uploaded 27.12.2024</small>
					</div>
					<div class="col-10 mb-1 small torrent-stats">Size: 3.3GB Seed:6 Leech:1</div>
				  </a>

		  


				  
				  <div class="text-end col-10"><a href="#" class="btn btn-secondary btn-more">View all my uploads...</a></div>

				</div>
			  </div>




			  <div class="mb-5">
				<h2>Latest Uploads</h2>
				<hr>

				<div class="list-group list-group-flush  scrollarea">

					<a href="/torrent" class="list-group-item list-group-item-action py-3 lh-tight">
					  <div class="row torrent">
							<div class="col-3">
								<h3><span class="badge text-bg-tag">Scene: Documentaries</span></h3>
								
							</div>
							<div class="col-9">
								<div class="d-flex w-100 align-items-center justify-content-between">

									<span>
										<h3><strong class="mb-1">The Untold Story of Otto Warmbier [HD]</strong></h3>
										<span class="badge text-bg-tag">Movie</span>
									</span>
								  <small class="text-muted">Uploaded 23.04.2024</small>
								</div>
								<div class="col-10 mb-1 small torrent-stats">Size: 540MB Seed:1 Leech:2</div>
							</div>
					  </div>
					</a>


					<a href="/torrent" class="list-group-item list-group-item-action py-3 lh-tight">
						<div class="row torrent">
							  <div class="col-3">
								  <h3><span class="badge text-bg-tag">Scene: Linux Distros</span></h3>
								  
							  </div>
							  <div class="col-9">
								  <div class="d-flex w-100 align-items-center justify-content-between">
  
									  <span>
										  <h3><strong class="mb-1">Ubuntu 26.04 LTS.iso [FastDL]</strong></h3>
										  <span class="badge text-bg-tag">Linux</span>
									  </span>
									<small class="text-muted">Uploaded 13.02.2024</small>
								  </div>
								  <div class="col-10 mb-1 small torrent-stats">Size: 1.5GB Seed:1 Leech:2</div>
							  </div>
						</div>
					  </a>

					  <a href="/torrent" class="list-group-item list-group-item-action py-3 lh-tight">
						<div class="row torrent">
							  <div class="col-3">
								  <h3><span class="badge text-bg-info">Group private: Baldurs Gate Mods</span></h3>
								  
							  </div>
							  <div class="col-9">
								  <div class="d-flex w-100 align-items-center justify-content-between">
  
									  <span>
										  <h3><strong class="mb-1">Experimental build v2.4</strong></h3>
									  </span>
									<small class="text-muted">Uploaded 13.02.2024</small>
								  </div>
								  <div class="col-10 mb-1 small torrent-stats">Size: 15GB Seed:1 Leech:0</div>
							  </div>
						</div>
					  </a>
				</div>

			</div>

			<div class="mb-5 community">
				<h2>Community Updates</h2>
				<hr>

				<div class="list-group list-group-flush  scrollarea border-bottom">

					<a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
					  <div class="d-flex w-100 align-items-center justify-content-between">
						<h3><strong class="mb-1">Forum - Help:</strong> Help finding best way to back up my .iso collection<span class="fw-lighter"> - 2 replies</span></h3>
						
						<small class="text-muted">1 day ago</small>
					  </div>
					  
					</a>

					<a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
						<div class="d-flex w-100 align-items-center justify-content-between">
						  <h3><strong class="mb-1">Forum - General Discussion:</strong> Any good recent movies to watch?<span class="fw-lighter"> - 0 replies</span></h3>
						  <small class="text-muted">4 days ago</small>
						</div>
					  </a>
  
				</div>

			</div>


		
	
				
				<footer class="row text-center pt-5 pb-5">
	
					<div class="col-md-4">
						<img src="static/img/icons/book.svg" class="card-img-top" alt="...">
						<div>
						  <h2 class="card-title">FAQ</h2>
						  <p class="card-text">Find aswers to commonly asked questions or contact the site moderators.</p>
						  <a href="#" class="btn btn-primary">Read FAQ</a>
						</div>
					  </div>
	
					  <div class="col-md-4">
						<img src="static/img/icons/dollar.svg" class="card-img-top" alt="...">
						<div>
						  <h2 class="card-title">Donate</h2>
						  <p class="card-text">Help us keep the site running with a small donation.</p>
						  <a href="#" class="btn btn-primary">Donate</a>
						</div>
					  </div>
	
					  <div class="col-md-4">
						<img src="static/img/icons/triangle-alert.svg" class="card-img-top" alt="...">
						<div>
						  <h2 class="card-title">Report Illegal Content</h2>
						  <p class="card-text">Send us a report about abuse on the site.</p>
						  <a href="#" class="btn btn-primary">Report</a>
						</div>
					  </div>
				</footer>



			
		</div>
		
		<div class="b-example-divider"></div>

		{{template "end"}}
{{end}}