{{define "base"}}
	{{template "head" .}}



		{{template "sidebar" .}}
		
		<div class="b-example-divider"></div>




		<div class="container overflow-scroll overview">
			{{template "commandbar"}}

			<div class="row px-5">
				<h2>My Torrents</h2>
				<hr>
				<div class="col-md-12 mb-5">
					<h3>Public listed torrents</h3>
					<div class="list-group list-group-flush  scrollarea px-5">
					{{range .PublicListedTorrents}}
						{{template "torrent-list-item" .}}
					{{end}}
					</div>
	
				</div>
				<div class="col-md-12 ">
					<h3>Public unlisted Torrents</h3>

					<div class="list-group list-group-flush  scrollarea px-5">
						{{range .PublicUnlistedTorrents}}
							{{template "torrent-list-item" .}}
						{{end}}
					</div>
				</div>
			</div>
			
		</div>
		
		<div class="b-example-divider"></div>

		{{template "end"}}
{{end}}