{{define "base"}}
	{{template "head" .}}



		{{template "sidebar" .}}
		
		<div class="b-example-divider"></div>




		<div class="container overflow-scroll overview">


			{{template "commandbar"}}

            <h2 class="mb-5">Upload a new  torrent</h2>

			<div class="row">
				<form action="" class="px-5" method="POST"  enctype="multipart/form-data">

					<div class="mb-5">
						<label for="torrentFile" class="form-label fs-2">Torrent file</label>
						<input name="torrent" class="form-control form-control-lg" id="torrentFile" accept=".torrent" type="file">
					  </div>
					  <div class="mb-5">

							<label for="torrentDescription" class="form-label  fs-4">Description <small class="text-secondary-emphasis">(optional)</small></label>
							<textarea name="description" class="form-control" id="torrentDescription" rows="3"></textarea>

					  </div>

					  <div class="mb-5">
						<label for="formGroupExampleInput2" class="form-label fs-4">Category <small class="text-secondary-emphasis">(required)</small></label>
						<select name="category" class="form-select" aria-label="Default select example">
							<option selected value="">Select</option>
							<option disabled value="100">Audio</option>
							<option value="101">Audio &rarr; Music</option>
							<option value="199">Audio &rarr; Other</option>
							<option disabled value="200">Video</option>
							<option value="201">Video &rarr; Movies</option>
							<option value="299">Video &rarr; Other</option>
							<option disabled value="300">Applications</option>
							<option value="301">Applications &rarr; Windows</option>
							<option value="399">Applications &rarr; Other</option>
							<option disabled value="400">Games</option>
							<option value="401">Games &rarr; PC</option>
							<option value="499">Games &rarr; Other</option>
							<option disabled value="600">Other</option>
							<option value="601">Other &rarr; E-books</option>
							<option value="699">Other &rarr; Other</option>
						  </select>
					  </div>

					  <div class="mb-5">
						<label for="formGroupExampleInput2" class="form-label fs-4">Visibility <small class="text-secondary-emphasis">(required)</small></label>
						<select name="visibility" class="form-select" aria-label="Default select example">
							<option >Select</option>
							<option selected value="Public Listed">Public Listed (will appear on a public list on the internet)</option>
							<option value="Public Unlisted">Public Unlisted (anyone with the link can access on the internet)</option>
							<option value="Members Access List">Selected site members only</option>
							<option disabled value="0">Group Public (use group page to post your torrent)</option>
							<option disabled value="0">Group Private (use group page to post your torrent)</option>
						  </select>
					  </div>

					  <div class="mb-5">
						<label for="formGroupExampleInput2" class="form-label fs-4">Include other trackers <small class="text-secondary-emphasis">(only allowed for public listed torrents)</small></label>

						<div class="form-check">
												<input class="form-check-input" type="radio" name="keepTrackers" value="no" id="keepTrackers1" checked >
												<label class="form-check-label" for="keepTrackers1">
													Track only on this tracker
												</label>
						</div>
						<div class="form-check">
												<input class="form-check-input" type="radio" name="keepTrackers" value="yes" id="keepTrackers2" >
												<label class="form-check-label" for="keepTrackers2">
													Keep other trackers <small class="text-secondary-emphasis">(mainly used when reuploading a torrent from another site)</small>.
												</label>
						</div>
						
					  </div>
					  
					  <div class="col-12">
						<button type="submit" class="btn btn-primary fs-2">Upload</button>
					  </div>
					

				</form>
			</div>
		

		</div>
		
		<div class="b-example-divider"></div>

		{{template "end"}}
{{end}}