{{define "base"}}

{{template "head" .}}



	{{template "sidebar" .}}
		
		<div class="b-example-divider"></div>




		<div class="container overflow-scroll overview news">


			{{template "commandbar"}}
		

			{{if .Error}}
			<div class="warning">
				<h2>{{.ErrorText}}</h2>
			</div>
			{{end}}


			{{if .NewsList}}
			<h2>News & Announcements</h2>
			<hr>
			<div class="list-group list-group-flush  scrollarea">
			{{range .NewsList}}

				{{template "newslist-item" .}}


			
			{{end}}
			</div>

			{{end}}

			{{if .NewsArticle.Title}}
			<article class="p-4 rounded-3">
				<header >
					
					
					<h2 class="mb-4">{{ .NewsArticle.Title}}</h2>
					<div class="col-md-4 mb-4">
						<div class="d-flex w-100 align-items-center justify-content-between ">
							<span class="news-tags"><span class="badge text-bg-info">Site News</span></span><small class="text-muted">23.04.2024</small>
						</div>
					</div>
				</header>
				<section>
					<p>{{.NewsArticle.Content}}</p>

				</section>
				{{if .NewsArticle.Comments}}
				<section>
					<h3>Comments</h3>
					<hr>
					{{range .NewsArticle.Comments}}
						<h4>       
						<a href="/profile/{{.UserID}}" class="d-flex align-items-center text-white text-decoration-none" >
							<img src="{{.Cover}}" alt="" width="48" height="48" class="rounded-circle me-2">
							<strong class="username">{{.Username}}</strong>
						</a>
						</h4>
						<p>{{.Content}}</p>
						<hr>
					{{end}}
				</section>
				{{end}}

			</article>
			{{end}}
			





			
		</div>
		
		<div class="b-example-divider"></div>

		{{template "end"}}

{{end}}