{{define "base"}}

{{template "head"}}



		{{template "sidebar"}}
		
		<div class="b-example-divider"></div>




		<div class="container overflow-scroll overview news">


			{{template "commandbar"}}
		

			
				<h2>News & Announcements</h2>
				<hr>


						<article class="p-4 rounded-3">
							<header >
								
								
								<h3 class="mb-4">I Am Once Again Asking for Your Financial Support</h3>
								<div class="col-md-4 mb-4">
									<div class="d-flex w-100 align-items-center justify-content-between ">
										<span class="news-tags"><span class="badge text-bg-info">Site News</span></span><small class="text-muted">23.04.2024</small>
									</div>
								</div>
							</header>
							<section>

<p>
	As we strive to maintain the excellence and sustainability of our private torrent tracker site, we find ourselves in need of your support once more. Our commitment to providing a safe, reliable, and thriving platform for sharing content remains unwavering, but we cannot achieve this without your assistance.
</p>
	Your contributions, whether big or small, play a crucial role in covering the costs of server maintenance, bandwidth, and other operational expenses. By supporting us financially, you enable us to continue offering a premium torrenting experience while ensuring the longevity of our community.

	If you value the services and opportunities our site provides, we humbly ask you to consider donating. Every donation, no matter the amount, makes a meaningful difference and helps us sustain and improve our platform for the benefit of all.
</p>
	Together, we can keep our community thriving and ensure that it remains a beacon of quality and integrity in the torrenting world. Thank you for your continued support.
	
	Warm regards,
	
	[Your Site Name] Administration
</p>
							</section>
							<section class="text-center">
								<button class="btn btn-primary">Read Comments - 0</button>
							</section>

						</article>

			
		</div>
		
		<div class="b-example-divider"></div>

		{{template "end"}}

{{end}}