{{define "base"}}
	{{template "head" .}}



		{{template "sidebar" .}}
		
		<div class="b-example-divider"></div>




		<div class="container overflow-scroll overview">
			{{template "commandbar"}}

			<div class="row">
				<div class="col-md-4">


					<div class="user-card card text-center mb-4" >
						{{if .DisplayedUser.Banner}}
						<img src="{{.DisplayedUser.Banner}}" class="card-img-top glow" alt="...">
						{{end}}
				   

                        <form class="card-body" action="" method="POST">
                            <img src="{{.DisplayedUser.Cover}}" alt="{{.DisplayedUser.Username}} profile pic" width="96" height="96" class="rounded-circle user-pic glow">
                          <h5 class="card-title username">{{.DisplayedUser.Username}}</h5>
    
                          <p class="card-text">{{.DisplayedUser.Tagline}}</p>
						  {{ if  .CanEdit}}
						  <label for="tagline">Edit tagline:</label><br>
						  <input type="text" id="tagline" name="tagline" ><br>
						  {{end}}
                          <section class="text-start userinfo">
                            {{if .DisplayedUser.UserBadges}}
                            <div>
                                <strong>Badges:</strong>
                                {{range  .DisplayedUser.UserBadges}}
                                 <span class="badge" style="background-color: {{.Color}};">{{.DisplayedUser.BadgeTitle}}</span> 
                                 {{end}}
                            </div>
                            {{end}}
                            <div><strong>Joined:</strong> {{.DisplayedUser.Joined}}</div>

							{{if .DisplayedUser.Bio}}
							<h3>Bio:</h3>
							
							<p>{{.DisplayedUser.Bio}}</p>
							{{end}}

							{{ if  .CanEdit}}
							<label for="bio">Edit bio:</label><br>
							<input type="text" id="bio" name="bio" ><br>
							{{end}}

							{{ if .DisplayedUser.Gender }}
							<p>Gender: {{.DisplayedUser.Gender}}</p>
							{{end}}

							{{ if  .CanEdit}}
							<label for="gender">Edit gender:</label><br>
							<input type="text" id="gender" name="gender" ><br>
							{{end}}

	
				
                          </section>


                         	{{ if  .CanEdit}}
							 <input class="btn button btn-primary" type="submit" value="Submit">
							{{end}}
				
                        </form>


					</div>
					{{if .Strikes}}
					<section>

						
						<h2>Strikes</h2>

						{{range .Strikes}}
						<article class="list-group-item list-group-item-action py-3">

								<header class="d-flex w-100 align-items-center justify-content-between">
									<h3 class="mb-1">{{.Heading}}</h3>
									<small class="text-body-secondary">{{.Date}}</small>
								</header>
								<section>
									<p class="col-10 mb-1  pl-3">{{.Description}}</p>
								</section>
						

						</article>
						{{end}}
				</section>
				{{end}}

				</div>
				<div class="col-md-8">
					<h2>Torrents shared</h2>
					<div class="list-group list-group-flush  scrollarea px-5 mb-3">
					{{if .TorrentList}}
				
						{{range .TorrentList}}
						<a href="/t/{{.Uuid}}" class="list-group-item list-group-item-action  lh-tight">
								<strong>
									{{.Name}}
								</strong>
						</a>
			
						{{end}}
		
		
		
		
		
		
		
		
		
					{{else}}
					<p>No public torrents from this user.</p>
					{{end}}
					</div>

					
					{{if .UserGroups}}
					<h2>User Groups</h2>
					<div class="list-group list-group-flush  scrollarea px-5">
						{{range .UserGroups}}

						<a href="/groups/{{.GroupID}}" class="list-group-item list-group-item-action py-3">
							<div >
								<header class="d-flex w-100 align-items-center justify-content-between">
									<h3 class="mb-1">{{.GroupName}}  <span class="text-body-secondary">({{.GroupVisibility}})</span></h3>
									
									{{if .GroupRole}} 
									<span>Role <small class="text-body-secondary">{{.GroupRole}}</small></span>
									{{end}}
								</header>
							</div>
						</a>
						{{end}}
					</div>
					{{end}}



				</div>
			</div>
			
		</div>
		
		<div class="b-example-divider"></div>

		{{template "end"}}
{{end}}