{{define "torrent-list-item"}}
	<a href="/t/{{.Uuid}}" class="list-group-item list-group-item-action py-3 lh-tight">
		<div class="d-flex w-100 align-items-center justify-content-between torrent">
			<span>
				<h3><strong class="mb-1">{{.Name}}</strong></h3>
				<span class="badge text-bg-info text-white">Access: {{.AccessType}} {{if eq .AccessType "Public"}}(anyone
					with account){{end}} {{if eq .AccessType "WWW"}}(anyone on the internet){{end}}</span>
				{{if .GroupName}}
				<a href="/groups/{{.TheTorrent.GroupID}}"><span class="badge text-bg-success">Shared on Group:
						{{.GroupName}}</span></a>
				{{end}}
			</span>
			<small class="text-body-secondary">Uploaded {{.Uploaded}}</small>
		</div>
		<div class="col-10 mb-1 small torrent-stats">Size: {{.Size}} Seed:{{.Seeders}} Leech:{{.Leechers}}</div>
	</a>
{{end}}