{{define "base"}}

{{template "head" .}}



		{{template "sidebar" .}}
		
		<div class="b-example-divider"></div>




		<div class="container overflow-scroll overview torrent-page">


			{{template "commandbar"}}
		


				


				<article class="mt-5">
					<section>
						<header>
							<div class="d-flex w-100 align-items-center justify-content-between">
								<h1>Torrent title  <button class="btn btn-primary">Download</button></h1>
							</div>
							<div>
								<span class="badge text-bg-success">Shared on Scene: Linux Distros</span>
								<span class="badge text-bg-danger">Reported: Trash</span>
							</div>
						</header>

					</section>
					<section>
						<h2>File Info:</h2>
						<div class="row">
							<div class="col-md-4">
								<strong>Type:</strong> Software > Linux
							</div>
							<div class="col-md-4">
								<strong>Files:</strong> 1
							</div>
							<div class="col-md-4">
								<strong>Size:</strong>   606.62 MiB (12312312 Bytes)
							</div>
							<div class="col-md-4">
								<strong>Uploaded:</strong> 2024-01-24
							</div>
							<div class="col-md-4">
								<strong>Seeders:</strong> <span style="color: green;">429</span>
							</div>
							<div class="col-md-4">
								<strong>Leechers:</strong> <span style="color: red;">429</span>
							</div>
							<div class="col-md-4">
								<strong>Info Hash:</strong> 66833B8B6C74CE5A2E9B0F95E209450284533A52
							</div>
						</div>
					</section>
					<section>
						<h2>Description:</h2>
						<p>Torrent description added by uploader.</p>
					</section>
					<section>
						<h2>File List:</h2>
						<ul>
							<li>Ubuntu20.39.iso <span class="text-body-secondary"> - 600.89 MiB</span></li>
						</ul>
					</section>
					<section>
						<h2>Get Torrent: </h2>
						<button class="btn btn-primary fs-3">Download <img src="static/img/icons/download.svg" alt=""></button>
					</section>

				</article>

				<h2 class="mb-5">Discussion</h2>


				{{if .TheTorrent.Discussion}}

				{{range .TheTorrent.Discussion}}
				<div class="px-5">
					<article class="mb-5 border-start border-3 px-3 py-3 border-warning bg-dark-subtle">
			
						<div class="row">
							<div class="col-md-1 text-center border-end border-1">
								<img class="img-fluid mb-1" src="{{.User.Cover }}" alt="{{.User.Username}}">
								<p><a href="/profile/{{.User.UserID}}">{{.User.Username}}</a></p>
							</div>
				
							<div class="col-md-11">
								<header>
									<p>Posted: {{.Date}}</p>
								</header>
								<section>
										<p>{{.Content}}</p>
								</section>
							</div>
				
						</div>
			
			
					</article>
				</div>
			
			
				{{end}}
			
				{{else}}
				<p class="mb-5">No comments yet.</p>
				{{end}}

				<div class="mb-5 px-5">
					<h3 class="mb-3">Add comment:</h3>
					<div class="row">
						<div class="col-md-1">
							<img src="{{.UserData.Cover}}" alt="" class="rounded-circle me-2 img-fluid">
						</div>
						<div class="col-md-10">
						
									<form action="" method="post">
										<input class="visually-hidden" type="text" id="postID" value="{{ .TheTorrent.TorrentID }}">
										<textarea class="form-control" placeholder="Type your comment here..." id="floatingTextarea"></textarea>
										<input class="btn btn-primary" type="submit" value="Submit">
									</form>
						</div>
					</div>
				</div>

			
		</div>
		
		<div class="b-example-divider"></div>

		{{template "end"}}
		{{end}}